@use "abstracts" as *;

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(100deg, $color-secondary-dark 40%, $color-primary-accent 100%);
}

h2 {
  margin-bottom: 0;
}

form {
  margin-top: 2em;
}

.container {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 100%;
  @include for-tablet-landscape-up {
    width: 30%;
  }
}

input {
  text-align: right;
}

.button--scroll {
  margin-top: 48px;
}
