<h2>Total</h2>
<table>
  <tbody>
    <tr *ngIf="(total$ |async) as total">
      <td>Subtotal:</td>
      <td class="price">{{ total | intCurrency }}</td>
    </tr>
    <ng-container *ngIf="(voucher$ | async) as voucher">
      <tr *ngIf="voucher.discount">
        <td>Discount ({{voucher.voucher}}):</td>
        <td class="price">{{ voucher.discount | intCurrency }}</td>
      </tr>
    </ng-container>

    <tr *ngIf="(paymentFee$ |async) as paymentFee">
      <td>Zahlungsart Aufschlag:</td>
      <td class="price">{{ paymentFee | intCurrency }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Total:</td>
      <td *ngIf="(totalWithPaymentFee$ | async) as total; else zeroTotal" class="price">{{ total | intCurrency }}</td>
      <ng-template #zeroTotal>
        <td class="price">{{ 0 | intCurrency }}</td>
      </ng-template>
    </tr>
  </tfoot>
</table>
