@mixin shadow() {
  box-shadow: 0 0 72px rgba(0, 0, 0, 0.26);
}

@mixin drop-shadow {
  filter: drop-shadow(0 0 72px rgba(0, 0, 0, 0.26));
}

@mixin border-radius() {
  border-radius: 2.4rem;
}

@mixin for-phone-only() {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up() {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up() {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-medium-desktop-up() {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin for-big-desktop-up() {
  @media (min-width: 1800px) {
    @content;
  }
}
