$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);


$color-primary-dark: rgba(74, 36, 140, 1);
$color-primary-light: rgba(175, 26, 172, 1);
$color-primary-accent: rgba(255, 43, 130, 1);

$color-secondary-dark: rgba(255, 127, 64, 1);

$font-weight-regular: 400;
$font-weight-bold: 800;
