@use "abstracts" as *;

:host{
  position: fixed;
  right: 48px;
  bottom: 48px;
}
.price{
  display: block;
  //visibility: hidden;
  //opacity: 0;
  padding-left: 12px;
  font-weight: $font-weight-bold;

  transition: all ease-in-out 0.15s;
  transition-delay: 0s;
}
.floating-cart-button{
  padding: 12px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  &:after{
    content: '';
    z-index: -1;
    position: absolute;
    height: 60px;
    //width: 60px;
    width: 100%;
    right: 0;
    top: 0;
    background-color: white;
    border-radius: 60px;
    @include shadow();
    transition: all ease-in-out 0.15s;
    transition-delay: 0.15s;
  }

  /*
  &:hover{
    &:after{
      width: 100%;
      transition-delay: 0s;
    }
    .price{
      opacity: 1;
      visibility: visible;
      transition: all ease-in-out 0.15s;
      transition-delay: 0.15s;
    }
  }
   */
}

.icon{
  padding: 6px;
}
