@use "abstracts" as *;

@keyframes fadeInBlock {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

:host {
  position: fixed;
  right: 48px;
  bottom: 48px;
}

app-summary {
  position: fixed;
  right: 48px;
  bottom: 120px;
}

.price {
  font-weight: $font-weight-bold;
  display: block;
  visibility: hidden;
  padding-left: 12px;
  opacity: 0;

  .has-total & {
    animation: fadeInBlock 0.15s forwards ease-in-out 0.15s;
  }
}



.floating-cart-button {
  display: flex;

  align-items: center;
  flex-direction: row;
  padding: 12px;
  gap: 12px;

  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    content: '';
    transition: all ease-in-out 0.15s;
    @include shadow();
    border-radius: 60px;
    background-color: white;
  }

  &.has-total {
    &:after {
      width: 100%;
      transition-delay: 0s;
    }
  }
}

.icon {
  padding: 6px;
}
