@use "abstracts" as *;

.button {
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: 48px;
  padding: 0 36px;
  cursor: pointer;
  transition: all ease-in-out 0.15s;
  white-space: nowrap;
  border: none;
  border-radius: 24px;

  outline: none;

  &--primary {
    color: $color-white;
    background: linear-gradient(100deg, $color-primary-dark 40%, $color-primary-light 100%);
  }

  &--secondary {
    color: $color-white;
    background: linear-gradient(100deg, $color-secondary-dark 40%, $color-primary-accent 100%);
  }

  &[disabled] {
    cursor: no-drop;
    opacity: 0.5;
  }

  &--no-padding {
    padding: 0;
  }

  &--scroll {
    display: flex;
    align-items: stretch;
    align-self: center;

    span {
      display: flex;
      align-items: center;
    }

    .icon {
      padding: 0 24px;
    }
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
