@use "abstracts" as *;
.button{
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  padding: 1.4rem 2.4em;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2.4rem;
  outline: none;

  &-primary {
    color: $color-white;
    background-color: $color-primary-light;
  }

  &-secondary {
    border: 2px solid $color-primary-light;
  }

  &[disabled] {
    cursor: no-drop;
    opacity: 0.5;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
