@use "abstracts/index" as *;

.card-button {
  position: absolute;
  padding: 0 36px;
  height: 48px;
  border-radius: 24px;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  cursor: pointer;

  @include shadow;

  &--primary {
    color: $color-white;
    background: linear-gradient(100deg, $color-primary-dark 40%, $color-primary-light 100%);
  }

  &--secondary {
    color: $color-white;
    background: linear-gradient(100deg, $color-secondary-dark 40%, $color-primary-accent 100%);
  }
}
