@use "abstracts/index" as *;
@use "elements/button" as *;

.card-button {
  @extend .button;
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);

  &--primary {
    @extend .button--primary;
  }

  &--secondary {
    @extend .button--secondary;
  }
}
