@use "abstracts" as *;

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;

  &-control {
    display: grid;
    grid-template-columns: 1fr;

    &-action {
      text-align: right;
      text-decoration: none;
      color: $color-primary-light;
    }

    &--group {
      display: flex;
      align-items: stretch;
      flex-direction: row;

      .prepend {
        font-weight: $font-weight-bold;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0 2.4rem;
        border: 2px solid black;
        border-right: none;
      }

      .append {
        font-weight: $font-weight-bold;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0 2.4rem;
        border: 2px solid black;
        border-left: none;
      }
    }
  }

  &-actions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 1em;
  }

  &-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2em;

    .form-control {
      width: 100%;
    }
  }

  .city {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em;
  }

  &-radio {
    display: flex;
    gap: 1em;

    > .radio-button {
      flex-basis: 0;
      flex-grow: 1;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      -webkit-touch-callout: none;
    }
  }

  &-errors {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    color: $color-primary-accent;
    grid-template-columns: 1fr;
    gap: 0.5em;
  }

  &-error {
    margin: 0;
    padding: 0;
  }
}

.radio-button {
  display: flex;

  input {
    display: none;

    &:checked {
      + .radio-button-value {
        color: $color-white;
        border-color: $color-primary-light;
        background-color: $color-primary-light;
      }
    }
  }

  &-value {
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1.4rem;
    cursor: pointer;
    border: 2px solid $color-black;
    gap: 1em;

    & .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
    }
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.checkbox {
  font-weight: $font-weight-bold;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  input {
    display: none;

    &:checked {
      + .checkbox-text {
        &:before {
          border-color: $color-primary-light;
          background-color: $color-primary-light;
        }
      }
    }
  }

  .checkbox-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1em;

    &:before {
      font-family: 'Material Icons Outlined', sans-serif;
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      line-height: 1;
      display: block;
      width: 1em;
      height: 1em;
      content: 'check';
      white-space: nowrap;
      letter-spacing: normal;
      text-transform: none;

      word-wrap: normal;
      color: $color-white;
      border: 2px solid $color-black;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }
  }
}

input {
  font-weight: 400;
  line-height: 1;
  width: 100%;

  padding: 1rem 2.4rem;
  cursor: pointer;
  border: 2px solid $color-black;
  border-radius: 0;
  outline: none;
}

.ng-dirty {
  &.ng-invalid {
    border-color: $color-primary-accent;
  }
}

[type=number] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
