:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 42px;
  padding: 96px 0;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.user-information,
.cart {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
