<app-header></app-header>

<div class="container">
  <h1 class="h2 container-title">Schon fast fertig...</h1>
  <section class="main-content">
    <div class="user-information">
      <app-billing-address (form)="setBillingAddressForm($event)" class="card"></app-billing-address>
      <app-payment class="card"></app-payment>
    </div>
    <div class="cart">
      <app-cart-summary class="card"></app-cart-summary>
      <app-voucher *ngIf="(voucherDiscount$ |async) === 0" class="card"></app-voucher>
      <app-total class="card"></app-total>

      <button
        (click)="onCheckout()"
        [disabled]="!billingAddressForm.valid || (isPosting$ | async)"
        [ngClass]="{'button--loading': (isPosting$ | async)}"
        class="button button--primary button--loading"
      >
        Bestellen
      </button>
    </div>
  </section>
</div>

<div [ngClass]="{'overlay--active': (isPosting$ | async)}" class="overlay"></div>
