<div class="container">
  <h2>Catering</h2>
  <div class="days">
    <div class="day">
      <h3 class="day-title">Friday</h3>
      <div class="meals">
        <div class="meal">
          <h4>Dinner</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">{{10 | currency}}</span>
        </div>
      </div>
    </div>
    <div class="day">
      <h3 class="day-title">Saturday</h3>
      <div class="meals">
        <div class="meal">
          <h4>Breakfast</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">{{5 | currency}}</span>
        </div>
        <div class="meal">
          <h4>Lunch</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">{{10 | currency}}</span>
        </div>
        <div class="meal">
          <h4>Dinner</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">{{10 | currency}}</span>
        </div>
      </div>
    </div>
    <div class="day">
      <h3 class="day-title">Sunday</h3>
      <div class="meals">
        <div class="meal">
          <h4>Breakfast</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">{{5 | currency}}</span>
        </div>
      </div>
    </div>
    <div class="day">
      <h3 class="day-title">Special offer</h3>
      <div class="meals">
        <div class="meal">
          <h4>Special Offer</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">{{30 | currency}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
