<div class="container">
  <div class="days">
    <div class="day">
      <h2 class="day-title">Friday</h2>
      <div class="meals">
        <div class="meal">
          <h3>Dinner</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">Add for {{10 | currency}}</span>
        </div>
      </div>
    </div>
    <div class="day">
      <h2 class="day-title">Saturday</h2>
      <div class="meals">
        <div class="meal">
          <h3>Breakfast</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">{{5 | currency}}</span>
        </div>
        <div class="meal">
          <h3>Lunch</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">{{10 | currency}}</span>
        </div>
        <div class="meal">
          <h3>Dinner</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">{{10 | currency}}</span>
        </div>
      </div>
    </div>
    <div class="day">
      <h2 class="day-title">Sunday</h2>
      <div class="meals">
        <div class="meal">
          <h3>Breakfast</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">{{5 | currency}}</span>
        </div>
      </div>
    </div>
    <div class="day">
      <h2 class="day-title">Special offer</h2>
      <div class="meals">
        <div class="meal">
          <h3>Special Offer</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
          <span class="price">{{30 | currency}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
