<div class="container">
  <h2 class="container-title">Select your menu</h2>
  <div *ngIf="(menusByDay$ | async) as days" class="days">
    <div *ngFor="let day of days" class="day">
      <h3 class="day-title">{{day[0].date | date:'cccc'}}</h3>
      <div class="meals">
        <div *ngFor="let menu of day" [ngClass]="{'selected': (menuIds$ | async)?.includes(menu.id)}" class="meal">
          <h4>{{menu.title}}</h4>
          <p>{{menu.description}}</p>
          <button (click)="onAddMenu(menu)" *ngIf="!(menuIds$ | async)?.includes(menu.id); else removeButton;"
                  class="card-button card-button--secondary">
            Add for {{menu.price | intCurrency}}
          </button>
          <ng-template #removeButton>
            <button (click)="onRemoveMenu(menu)" class="card-button card-button--secondary">
              Remove
            </button>
          </ng-template>
        </div>
      </div>
    </div>

    <div *ngIf="(specialDeal$ | async) as specialDeal" class="day special-deal">
      <h3 class="day-title">{{specialDeal.title}}</h3>
      <div class="meals">
        <div [ngClass]="{'selected': (isSpecialDealEligible$ | async)}" class="meal">
          <h4>{{specialDeal.title}}</h4>
          <p>{{specialDeal.description}}</p>
          <button (click)="onAddAll()" *ngIf="(isSpecialDealEligible$ | async) === false"
                  class="card-button card-button--secondary">
            Add all for {{specialDeal.price | intCurrency}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="button button--secondary button--no-padding button--scroll">
    <span (click)="onScrollToTopUp()" class="material-icons-outlined icon">expand_more</span>
  </div>
</div>
