@use "abstracts/index" as *;

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 96px 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.days {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
  @include for-tablet-landscape-up {
    display: grid;
    width: 100%;
    gap: 48px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.day {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.special-deal {
  @include for-tablet-landscape-up {
    grid-area: 1 / 4;
  }
}

.day-title {
  text-align: center;
}

.meals {
  display: flex;
  flex-direction: column;
  gap: 72px;
  @include for-tablet-landscape-up {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
}

.meal {
  position: relative;
  padding: 24px 36px;
  transition: all ease-in-out 0.15s;
  color: white;
  background: linear-gradient(45deg, $color-primary-dark 30%, $color-primary-light 100%);
  background-position: 50% 50%;
  @include shadow;
  @include border-radius;
  background-size: 300%;
  aspect-ratio: 2 / 1;

  &:after,
  &:before {
    position: absolute;
    visibility: hidden;
    width: 24px;
    height: 24px;
    content: "";
    transition: all ease-in-out;
    transition-delay: 0s;
    transition-duration: 0s;
    opacity: 0;
    border-radius: 50%;

    background-color: white;
  }


  &:after {
    right: -5px;
    bottom: -5px;
    box-shadow: -15px 12px 0px white, 12px -15px 0px white;
  }

  &:before {
    top: -5px;
    left: -5px;
    box-shadow: 15px -12px 0px white, -12px 15px 0px white;
  }
}

.selected {
  background-position: 100% 50%;
  box-shadow: none;

  &:after,
  &:before {
    visibility: visible;
    transition-duration: 0.15s;
    opacity: 1;
  }

  &:after {
    transition-delay: 1s;
  }

  &:before {
    transition-delay: 1.5s;
  }
}

.button--scroll {
  margin-top: 96px;
}
