@use "abstracts" as *;

:host {
  display: grid;
  gap: 12px;
}

.items {
  display: grid;
  gap: 12px;
}

.item {
  display: grid;
  grid-template-columns: 4em auto 72px 36px;
  gap: 12px;

  .image {
    display: flex;
    // background-color: $color-gray;
    overflow: hidden;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-radius: 0.5em;
    background: linear-gradient(30deg, $color-primary-dark 30%, $color-primary-light 100%);
    aspect-ratio: 1 / 1;

    img {
      display: block;
    }

    .material-icons-outlined {
      font-size: 36px;
      color: $color-white;
    }
  }

  .title,
  .price {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .sub-title {
    font-size: 1.4rem;
    color: $color-gray;
  }

  .price {
    font-weight: $font-weight-bold;
    text-align: right;
  }

  .delete {
    display: flex;
    cursor: pointer;

    span {
      padding: 12px 6px;
    }
  }
}
