<h2 class="h3">Cart summary</h2>
<div *ngIf="(ticket$ | async) as ticket" class="ticket items">
  <div class="item">
    <div class="image">
      <span class="material-icons-outlined">local_activity</span>
    </div>
    <div class="title">
      {{ticket.title}}
    </div>
    <div class="price">{{ticket.price |intCurrency}}</div>
    <!--
    <div class="delete">
      <span class="material-icons-outlined">delete</span>
    </div>
    -->
  </div>
</div>

<div *ngIf="(menus$ | async) as menus" class="menus items">
  <ng-container *ngIf="(specialDeal$ | async) as specialDeal">
    <div *ngIf="(isSpecialDealEligible$ | async); else menuList" class="item">
      <div class="image">
        <span class="material-icons-outlined">brunch_dining</span>
      </div>
      <div class="title">{{specialDeal.title}}</div>
      <div class="price">{{specialDeal.price | intCurrency}}</div>
      <div (click)="onRemoveSpecialDeal()" class="delete">
        <span class="material-icons-outlined">delete</span>
      </div>
    </div>
  </ng-container>
  <ng-template #menuList>
    <div *ngFor="let menu of menus" class="item items">
      <div class="image">
        <span class="material-icons-outlined">ramen_dining</span>
      </div>
      <div class="title">{{menu.title}}</div>
      <div class="price">{{menu.price | intCurrency}}</div>
      <div (click)="onRemoveMenu(menu)" class="delete">
        <span class="material-icons-outlined">delete</span>
      </div>
    </div>
  </ng-template>
</div>

<ng-container *ngIf="(topUp$ | async) as topUp">
  <div *ngIf="topUp.amount > 0" class="top-up items">
    <div class="item">
      <div class="image">
        <span class="material-icons-outlined">local_atm</span>
      </div>
      <div class="title">Top Up</div>
      <div class="price">{{topUp.amount | intCurrency}}</div>
    </div>
  </div>
</ng-container>

<div *ngIf="(merchandise$ | async) as merchandise" class="merchandise items">
  <div *ngFor="let item of merchandise" class="item">
    <div class="image">
      <img [alt]="item.title" [src]="item.images[0]">
    </div>
    <div class="title">
      {{item.amount}}x {{item.title}}
      <div class="sub-title">{{getSubtitle(item)}}</div>
    </div>
    <div class="price">{{(item.amount * item.price) | intCurrency}}</div>
    <div (click)="onDecreaseMerchandise(item.cartId!)" class="delete">
      <span class="material-icons-outlined">delete</span>
    </div>
  </div>
</div>
