@use "abstracts" as *;
.radio-button {
  position: relative;

  input:checked {
    ~ .info {
      color: #ffffff;
    }
  }
}

.radio-button-value {
  text-align: center;
}

.form-radio {
  flex-wrap: wrap;
  @include for-tablet-landscape-up {
    flex-wrap: nowrap;
  }
}

.info {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}
