@use "abstracts/index" as *;

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 96px 0 120px 0;
}

.container {
  display: flex;
  flex-direction: column;
}


.merchandise {
  display: flex;
  flex-direction: column;
  gap: 72px;

  @include for-tablet-landscape-up {
    display: grid;
    gap: 72px 48px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.item {
  position: relative;
  display: flex;

  @include border-radius;
  @include shadow;

  flex-direction: column;
  padding: 24px 24px 48px 24px;
  gap: 24px;
}

.variants {
  margin-top: auto;
}

.variants,
.variant {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.option {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  min-width: 48px;
  padding: 12px;
  cursor: pointer;
  border: 1px solid $color-gray;
  border-radius: 12px;

  &--selected {
    font-weight: $font-weight-bold;
    background-color: $color-gray;
  }
}
