<div class="container">
  <h2 class="container-title">Our delux merchandise</h2>

  <section *ngIf="(merchandise$ |async) as merchandise" class="merchandise">
    <article *ngFor="let item of merchandise" class="item">
      <div class="images">
        <img *ngFor="let image of item.images" [src]="image" alt="">
      </div>
      <h3>{{item.title}}</h3>
      <p>{{item.description}}</p>
      <div *ngIf="item.variants" class="variants">
        <div *ngFor="let variant of item.variants" class="variant">
          <div class="variant-title">{{variant.title}}</div>
          <div class="options">
            <div
              (click)="setOption(item.id, variant.id, option.id)"
              *ngFor="let option of variant.options"
              [ngClass]="{'option--selected': selectedVariants[item.id][variant.id] === option.id}"
              class="option"
            >
              {{option.title}}
            </div>
          </div>
        </div>
      </div>
      <button (click)="onAddToCart(item)" class="button button--primary button--card">
        Add for {{item.price | intCurrency}}
      </button>
    </article>
  </section>
</div>
