<div class="container">
  <h2 class="container-title">Our delux merchandise</h2>

  <section class="merchandise">
    <article class="item">
      <img alt="titel" src="https://picsum.photos/400/400.jpg">
      <h3>Title</h3>
      <button class="card-button card-button--primary">
        Add for {{20 | currency}}
      </button>
    </article>
    <article class="item">
      <img alt="titel" src="https://picsum.photos/400/400.jpg">
      <h3>Title</h3>
      <button class="card-button card-button--primary">
        Add for {{20 | currency}}
      </button>
    </article>
    <article class="item">
      <img alt="titel" src="https://picsum.photos/400/400.jpg">
      <h3>Title</h3>
      <button class="card-button card-button--primary">
        Add for {{20 | currency}}
      </button>
    </article>
    <article class="item">
      <img alt="titel" src="https://picsum.photos/400/400.jpg">
      <h3>Title</h3>
      <button class="card-button card-button--primary">
        Add for {{20 | currency}}
      </button>
    </article>
    <article class="item">
      <img alt="titel" src="https://picsum.photos/400/400.jpg">
      <h3>Title</h3>
      <button class="card-button card-button--primary">
        Add for {{20 | currency}}
      </button>
    </article>
    <article class="item">
      <img alt="titel" src="https://picsum.photos/400/400.jpg">
      <h3>Title</h3>
      <button class="card-button card-button--primary">
        Add for {{20 | currency}}
      </button>
    </article>
    <article class="item">
      <img alt="titel" src="https://picsum.photos/400/400.jpg">
      <h3>Title</h3>
      <button class="card-button card-button--primary">
        Add for {{20 | currency}}
      </button>
    </article>
    <article class="item">
      <img alt="titel" src="https://picsum.photos/400/400.jpg">
      <h3>Title</h3>
      <button class="card-button card-button--primary">
        Add for {{20 | currency}}
      </button>
    </article>
  </section>
</div>
