@use "abstracts" as *;

:host {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;

  &::before {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 110vw;
    height: 100%;
    content: "";
    @include shadow();
    transform: skew(-15deg);
    animation: show-bg 1s forwards cubic-bezier(0, 0, 0.25, 1);
    opacity: 0;
    background: linear-gradient(45deg, $color-primary-dark 50%, $color-primary-light 100%);
  }
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 5vw;
  align-self: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0 24px;
  animation: fade-in 1s forwards cubic-bezier(0, 0, 0.25, 1);

  opacity: 0;
  color: white;

  @include for-tablet-landscape-up {
    font-size: 3vw;
    width: 50%;
  }


}


.ticket-wrapper {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  width: calc(100% - 48px);
  animation: fade-in 1s forwards cubic-bezier(0, 0, 0.25, 1) 0.5s;

  opacity: 0;
  gap: 48px;

  @include for-tablet-landscape-up {
    width: calc(50% - 48px);
  }

}

.ticket {
  position: relative;
  width: 100%;
  @include drop-shadow;
}

.background {
  svg {
    display: flex;
  }
}


.foreground {
  position: absolute;
  display: grid;

  inset: 0;
  grid-template-columns: auto 25%;
}

.user-data {
  display: flex;
  flex-direction: column;
  padding: 7vw 1vw 7vw 10vw;
  @include for-tablet-landscape-up {
    padding: 4vw 0 4vw 5vw;
  }
}


h2 {
  font-size: 3.8vw;
  @include for-tablet-landscape-up {
    font-size: 2.1vw;
  }
}

p {
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  @include for-tablet-landscape-up {
    font-size: 1.2vw;
  }
}

h3 {
  font-size: 3.75vw;
  margin-top: auto;
  @include for-tablet-landscape-up {
    font-size: 1.75vw;
  }
}

.ticket-number {
  font-size: 4vw;
  font-weight: $font-weight-bold;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-right: 2.8vw;

  @include for-tablet-landscape-up {
    font-size: 2.5vw;
  }

  &__inner {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: center center;
  }
}

.add {
  padding: 0 36px;
}
