@use "abstracts" as *;

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 0.5em 0;
}

h1, .h1 {
  font-size: 6rem;
}

h2, .h2 {
  font-size: 5rem;
}

h3, .h3 {
  font-size: 4rem;
}

h4, .h4 {
  font-size: 3rem;
}

h5, .h5 {
  font-size: 2rem;
}

p {
  margin: 0;

  + p {
    margin-top: 1em;
  }
}

a {
  text-decoration: none;
  color: $color-primary-light;
}
