<div class="card">
  <h1 class="h3">Du bist schon dabei!</h1>
  <p>Zu einem späteren Zeitpunkt kannst du hier zu deiner Bestellung Essen dazubuchen,
    deinen Badge aufladen und zusätzliche Artikel dazubestellen.<br />
    Hast du Fragen zu deiner Bestellung, schreibe uns eine Mail an <a href="mailto:support@isleoflan.ch"
                                                                      title="support@isleoflan.ch">support@isleoflan.ch</a>
  <p>

    <a class="button button--secondary" href="https://isleoflan.ch/" title="zu IOL zurück">zu IOL zurück</a>
</div>
